build/*
pbdbbuilder.xcodeproj/*.mode*
pbdbbuilder.xcodeproj/*.pbxuser
pbdbbuilder.xcodeproj/xcuserdata*
pbdbbuilder.xcodeproj/project.xcworkspace/xcuserdata*
pbdbbuilder.xcodeproj/project.xcworkspace/xcshareddata*
*.DS_Store
